{% set prod from stories starts_with:'products', per_page: 25, is_startpage: false %}
{{blok._editable}}
<section class="featured_products uk-margin-large">
  <div class="uk-container uk-container-center">
    <p class="text--muted">{{blok.above}}</p>
    <h2>{{blok.headline}}</h2>
    <ul class="uk-grid uk-grid-small">
      {% for product in prod.data %}
      <li class="uk-width-medium-1-3">
        {% include 'product_card' with product: product %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"ItemList",
  "itemListElement":[
  {%- assign i = 1 -%}
  {%- for product in prod.data -%}
      {%- for product_variation in product.content.variations -%} 
        {%- if product_variation.size == 'large' or product_variation.size == 'small' -%}{
            "@type":"ListItem",
            "position":{{i}},
            "url":"https://www.alphachoice.de/{{product.full_slug}}?size={{product_variation.size}}"
            {%- assign i = i | plus: 1 --%}
        {%- else -%}{
            "@type":"ListItem",
            "position":{{i}},
            "url":"https://www.alphachoice.de/{{product.full_slug}}"
            {%- assign i = i | plus: 1 --%}
        {%- endif -%}  
        {%- if forloop.last == false -%}
        }, 
        {%- endif -%}
      {%- endfor -%}
      {%- if forloop.last == false -%}
      }, 
      {%- else -%}
      }
      {%- endif -%}
  {%- endfor -%}
  ]
}
</script>